<ng-container *ngIf="recipe$ | async as recipeValue">
  <div class="recipe-detail" [ngSwitch]="true" *ngIf="recipeValue">
    <mat-card>
      <mat-card-header>
        <div>
          <div style="display: flex; align-items: center; gap: 10px">
            <mat-card-title
              [textContent]="recipeValue['name']"
              style="margin-bottom: 0"
            ></mat-card-title>
            <button
              class="custom-button"
              style="background-color: rgb(148, 32, 32); color: white"
            (click)="deleteRecipe(recipeValue['id'])" >
              Delete Recipe
            </button>
          </div>
          <mat-card-subtitle
            [textContent]="recipeValue['mealType']"
          ></mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="image-info-container">
          <div class="image-container">
            <img
              mat-card-image
              src="assets/placeholder-image.jpg"
              [alt]="recipeValue['name']"
            />
            <div class="time-servings">
              <p>
                <mat-icon>timer</mat-icon>
                {{ recipeValue['timeToCook'] }} minutes
              </p>
              <p>
                <mat-icon>people</mat-icon> Servings:
                {{ recipeValue['servings'] }}
              </p>
            </div>
          </div>
          <div class="ingredients-container">
            <h3>Ingredients</h3>
            <mat-list>
              <mat-list-item
                *ngFor="let ingredient of recipeValue['ingredients']"
              >
                {{ ingredient.quantity }} {{ ingredient.unit }}
                {{ ingredient['name'] }}
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <h3>Instructions</h3>
        <ol>
          <li *ngFor="let instruction of recipeValue['instructions']">
            {{ instruction }}
          </li>
        </ol>
        <p *ngIf="recipeValue['comments']">
          <strong>Comments:</strong> {{ recipeValue['comments'] }}
        </p>
        <p *ngIf="recipeValue['source']">
          <strong>Source:</strong> {{ recipeValue['source'] }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
